/*===== BASE =====*/
:root {
    --color-white: #FFFFFF;
    --color-light: #EBF3F5;
    --color-black: #000000;
    --color-dark: #24292E;
    /* --color-info: #2770F1; */
    --color-info: #4070F4;
    --color-info-dark: #0356E4; 
    --color-main: #040B14;
    --color-grey: #8E8E8E;

    --color-test: #0E2431;
    
    --first-color: #4070F4;
    --second-color: #0E2431;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--second-color);
}

.btn {
    /* margin: 3rem auto 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__link {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 1rem;
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--color-white);
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.btn__icon {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.btn__link:hover {
    background-color: var(--color-info-dark);
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--first-color);
    margin-bottom: 1rem;
}

.line-ver {
    border: 0;
    max-width: 100%;
    height: 0.1rem;
    margin-bottom: 3rem;
    background-image: linear-gradient(to left, transparent, var(--second-color), transparent);
    background-image: linear-gradient(to right, transparent,var(--second-color), transparent);
}

/*===== HEADER =====*/
.header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-white);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
    padding: 0 1rem;
}

.header__link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header__lastname {
    display: none;
    margin-left: 0.3rem;
}

.menu-toggle {
    color: var(--second-color);
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar {
    position: fixed;
    top: 50px;
    right: -100vw;
    height: 100vh;
    width: 80vw;
    background-color: var(--second-color);
    transition: right 1s ease;
}

.show {
    right: 0;
}

.navbar__menu {
    list-style: none;
}

.navbar__item {
    border-bottom: 1px solid var(--color-grey);
    padding: 1rem 0;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    transition: all 0.4s ease;
}

.navbar__item:hover {
    font-size: 1.2rem;
    background-color: var(--color-info);
}

.navbar__link {
    display: block;
    text-decoration: none;
    color: var(--color-light);
    padding: 0.5rem 0.8rem;
}

/*===== HOME =====*/
.home {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__figure {
    width: 140px;
    height: 140px;
    margin: 4rem 0 2rem 0;    
}

.home__img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.home__data {
    text-align: center;
}

.home__title {
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 3rem
}

.home__title-color {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--first-color);
}

.home__machine {
    position: absolute;
    right: 0;
    border-left: 2px solid var(--color-light);
    background-color: var(--color-white);
    animation: machine 5s infinite alternate steps(90);
}

@keyframes machine {
    from { width: 100%; }
    to { width: 0; }
}

/*===== PROJECTS =====*/
.projects {
    padding: 5rem 1rem 5rem 1rem;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project__link {
    max-width: 300px;
    height: auto;
    margin: 1rem 0.5rem;
}

.project__img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

/*===== SKILLS =====*/
.skills {
    padding: 5rem 1rem 5rem 1rem;
}

.skill {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.skill-container_image {
    width: 90px;
    margin: 1rem;
    cursor: pointer;
}

.skill-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.tooltip {
    position: relative;
}

.tooltip:hover .tooltiptext {
    display: inline-block;
}

.tooltiptext {
    display: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    line-height: 20px;
    z-index: 600;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: -38px;
}

.tooltiptext::after {
    content: "";
    display: block;
    border-top: 7px solid var(--color-dark);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 7px);
}

/*===== WORKS =====*/
.works {
    padding: 5rem 1rem 5rem 1rem;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

.work__big {
    width: 270px;
    height: 280px;
    margin: 1rem 0.1rem 0 0.1rem;
    box-shadow: 0 0 5px var(--color-dark);
    border-radius: 5px;
    position: relative;    
}

.work__small {
    position: absolute;
    top: 40%;
    left: 0;
    padding-left: 2rem;
    line-height: 2rem;
}

.work__icon {
    color: var(--first-color);
    margin-bottom: 1rem;
}

.work__position {
    font-size: 1rem;
    font-weight: 700;
}

.work__view {
    font-size: 0.8rem;
    color: var(--first-color);
    cursor: pointer;
}

/*===== CONTACT =====*/
.contact {
    padding: 5rem 0.5rem 1rem 0.5rem;
}

.contact-form {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto
}

.hidden {
    display: none;
    color: var(--color-light);
}

.form-container {
    width: 100%;
    margin: auto;
}

.group {
    position: relative;
    margin: 0 20px 45px 20px;
}

input,
textarea {
    background: none;
    color: var(--color-grey);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    resize: none;
    z-index: 700;
}

input:focus,
textarea:focus {
    outline: none;
    color: var(--color-grey);
}

label {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 1rem;
    color: var(--color-dark);
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    position: absolute;
    top: -14px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-grey);
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar::before {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-grey);
    transition: 0.3s ease all;
}

input:focus~.bar::before,
textarea:focus~.bar::before {
    width: 100%;
}

button {
    display: block;
    height: 50px;
    background-color: var(--first-color);
    color: var(--color-white);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin: 0 auto 1.5rem auto;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-info-dark);
}

.redes {
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.redes-link {
    width: 45px;
    height: 45px;
    margin-left: 5px;
    border-radius: 5px;
}

.redes-link.github,
.redes-link.linkedin,
.redes-link.facebook,
.redes-link.twitter,
.redes-link.instagram {
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.redes-link.github {
    background-image: url(../img/rs-github.svg);
}

.redes-link.linkedin {
    background-image: url(../img/rs-linkedin.svg);
}

.redes-link.facebook {
    background-image: url(../img/rs-facebook.svg);
}

.redes-link.twitter {
    background-image: url(../img/rs-twitter.svg);
}

.redes-link.instagram {
    background-image: url(../img/rs-instagram.svg);
}

/*===== FOOTER =====*/
.footer {
    padding: 1rem 0.5rem;
    background-color: var(--color-main);
}

.footer-details {
    height: 40px;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.2rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    text-decoration: none;
    color: var(--color-info);
}

.footer-link:hover {
    text-decoration: underline;
}

/*===== WRAPPER =====*/
.wrapper {
    max-width: 1024px;
    flex: 1;
    height: inherit;
    margin: 0px auto;
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 398px) {
    .skill-container_image {
        width: 150px;
        margin: 1rem;
        cursor: pointer;
    }
    
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 2rem;
        height: 70px;
    }

    .header__lastname {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .navbar {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    
    .navbar__menu {
        display: flex;
    }

    .navbar__item {
        margin-top: 0;
        border-bottom: 0;
    }
    
    .navbar__item:hover {
        font-size: 1rem;
        background-color: transparent; 
    }
    
    .navbar__link {
        color: var(--second-color);
        font-weight: 600;
    }

    .navbar__link:hover {
        color: var(--color-info-dark); 
    }

    .home {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: auto
    }

    .home__figure {
        width: 300px;
        height: 300px;
        margin-right: 1.5rem;
    }

    .home__data {
        margin-left: 1.5rem;
        text-align: left;
        margin: 0;
    }

    .home__title {
        font-size: 3.5rem;
    }

    .home__title-color {
        font-size: 3.5rem;
    }
}