:root {
  --color-dark: #111827;
  --color-white: #ffffff;
  --color-fonts: #d1d5db;
  --color-gray: #535661;
  --color-gray-dark: #2e3039;
  --color-card-dark: #071325;
  --color-primary: #2563EB; 
  --color-primary-dark: #0356e4;
}