:root {
  --color-dark: #1F2028;
  --color-white: #fff;
  --color-white-medium: #cdd9e5;
  --color-gray: #535661;
  --color-gray-dark: #2e3039;
  
  --color-card-dark: #2d333b; 
  --color-primary: #4070f4;
  --color-primary-dark: #0356e4;
}