.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding: .8rem 2rem;
}
.about__photo {
	min-width: 100px;
  height: auto;
  margin: 0 0 1.5rem 0;
  overflow: hidden;
}
.about__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--color-white);
}
.about__data {
	text-align: center;
}
.about__text {
	font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 2rem;
}
@media screen and (min-width: 480px) {
	.about__container {
		padding: 2rem 3rem
	}
}
@media screen and (min-width: 960px) { 
	.about__container {
    flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 112px);
    gap: 3rem;
		padding: 2rem 4rem;
		margin: auto;
  }
	.about__data {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    text-align: left;
    margin: 0;
		max-width: 50%;
		padding: 0 2rem;
  }
	.about__photo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    width: 400px;
    height: 400px;
  }
	.about__text {  
		line-height: 2.5rem;
	}
}