.contact_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 112px);
	text-align: center;
	padding: 0 0 5rem;
}
.contact__title {
  margin: 0 0 0.5rem;
  font-size: 3rem;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.contact__email {
	display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}
.contact__email p {
  background-color: var(--color-fonts);
  color: var(--color-card-dark);
  margin: 0;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
	font-size: 1.5rem;
  font-weight: bold;
}
.contact__email:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}
.contact_container p {
	font-size: 1.2rem;
}