.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;  
}

.home__photo {
  min-width: 100px;
  height: auto;
  margin: 0 0 1.5rem 0;
}

.home__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--color-white);
}

.home__data {
  text-align: center;
}

.home__title {
  position: relative;
  margin: 0 0 3rem 0;
  font-family: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 2rem;
  font-weight: 700;
}

.home__title__color {
  display: block;
  margin: 1.5rem 0;
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--color-primary);
}

.home__text {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.55;
  margin-bottom: 2rem;
}

.home__text__color {
  font-weight: bold;
  color: var(--color-primary);
}

.home__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0 3rem;
}

@media screen and (min-width: 612px) {
  .home__title {
    font-size: 3rem;
    line-height: 1.6;
  }

  .home__title__color {
    font-size: 3.3rem;
    margin: 0;
  }

  .home__icons {
    justify-content: space-between;
}
}

@media screen and (min-width: 768px) {
  .home__title {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .home__title__color {
    font-size: 4.3rem;
  }

  .home__text {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .home__container {
    max-width: 1224px;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 auto;
    padding: 2rem 2rem 0;
  }

  .home__data {
    text-align: left;
    margin: 0;
  }

  .home__photo {
    width: 400px;
    height: 400px;
  }

  .home__title {
    line-height: 1.5;
  }

  .home__title__color {
    font-size: 4.6rem;
  }

  .home__text {
    font-size: 1.5rem;
  }

  .home__icons {
    margin-top: 5rem;
  }
}