.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding: .8rem;
	height: calc(100vh - 112px);
	text-align: center;
}
.home__title {
  position: relative;
  margin: 0 0 3rem 0;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times,serif;
}
.home__title__white {
	font-size: 2rem;
	color: var(--color-fonts);
	margin: 0;
}
.home__title__color {
	font-size: 2.3rem;
  color: var(--color-primary);
  margin: 1rem 0;
}
.home__title__text {
  font-size: 1.25rem;
	color: var(--color-fonts);
	margin: 0;
}
.home__title__text a {
	color: var(--color-red-dark);
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.home__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
}
@media screen and (min-width: 612px) {
	.home__title__white {
    font-size: 3rem;
  }
	.home__title__color{
    font-size: 3.5rem;
  }
	.home__title__text {
  	font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .home__title__color {
    font-size: 4.5rem;
  }
  .home__title__text {
    font-size: 1.8rem;
    font-weight: 500;
  }
	.home__icons {
		margin: 4.8rem 0 1rem 0;
	}
}