.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding: .8rem;
}
.home__photo {
  min-width: 100px;
  height: auto;
  margin: 0 0 1.5rem 0;
  overflow: hidden;
}
.home__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--color-white);
  animation: 3s slidein;
}
/* @keyframes slidein {
  from {
    margin-bottom: 100%;
    height: 0%;
  }
  to {
    margin-bottom: 0%;
    height: 100%;
  }
} */
.home__data {
  text-align: center;
}
.home__title {
  position: relative;
  margin: 0 0 3rem 0;
  font-family: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
}
.home__title__white,
.home__title__color {
	font-size: 2.3rem;
	font-weight: bold;
}
.home__title__white {
	margin: 0;
	color: var(--color-fonts);
}
.home__title__color {
  margin: 1rem 0;
  color: var(--color-primary);
}
.home__text {
  font-size: 1rem;
	color: var(--color-fonts);
}
.home__text__color {
  font-weight: bold;
  color: var(--color-red-dark);
}
.home__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0; 
}
@media screen and (min-width: 612px) {
  .home__title {
    line-height: 1.3;
  }
  .home__title__white,
	.home__title__color{
    margin: 0;
  }
	.home__title__white {
    font-size: 3rem;
  }
	.home__title__color{
    font-size: 3.5rem;
  }
  .home__icons {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .home__title__color {
    font-size: 4.3rem;
  }
  .home__text {
    font-size: 1.5rem;
    font-weight: 500;
  }
	.home__icons {
  	margin: 3rem 1rem;
	}
}
@media screen and (min-width: 1024px) {
  .home__container {
    max-width: 1224px;
    flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 112px);
    gap: 3rem;
		padding: 2rem;
		margin: auto;
  }
  .home__data {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    text-align: left;
    margin: 0;
  }
  .home__photo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    width: 400px;
    height: 400px;
  }
  .home__title {
    margin: 0 0 1rem 0;
  }
	.home__title__white {
		font-size: 3rem;
	}
  .home__title__color {
    font-size: 3.6rem;
  }
  .home__text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
	.home__title__color {
		font-size: 4.5rem;
	}
	.home__icons {
    margin: 5rem 0 0;
		gap: 2rem;
  }
}