.btn__container {
  display: flex;
  justify-content: space-evenly;
}

.btn__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-button);
  border: none;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.8em 1.5em;
  cursor: pointer;
}

.btn__link:hover {
  background-color: var(--color-primary-dark);
}

.btn__link--small {
  font-size: 0.8rem;
  font-weight: 100 ;
  padding: 0.8em 0.8em;
}

.btn__link--ghost {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn__link--ghost:hover {
  background-color: transparent;
  color: var(--color-button);
}

.btn__icon {
  width: 1.5rem;
  margin-left: 0.5em;
}