.navbar {
	display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  height: 112px;
}

.navbar__link {
  text-decoration: none;
  will-change: filter;
}

.navbar__link:hover {
  filter: drop-shadow(0 0 2rem var(--color-white));
  transform: scale(1.1);
  transition: all .5s ease-in-out;
}

.navbar__name {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;  
  margin: 0;
  cursor: pointer;
  color: var(--color-white);
}

.navbar__lastname {
  display: none;
}

.navbar__menu {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.navbar__toggle {
  width: inherit;
  height: inherit;
  cursor: pointer;
}

@media screen and (min-width: 390px) {
  .navbar__lastname {
    display: inline-block;
    margin-left: .5rem;
  }

}

@media screen and (min-width: 868px) {
	.navbar__menu {
    display: none;
  }
}